<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="fr.chatnoir.enigmator.core.Application">
         </run>
      </application>
   </extension>
   <extension
         id="Enigmator"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.chatnoir.enigmator.application"
            name="Enigmator">
         <property
               name="appName"
               value="Enigmator">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.chatnoir.enigmator.view.EgnigmatorPerspective"
            id="fr.chatnoir.enigmator.view.perspective"
            name="Egnigmator Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="fr.chatnoir.enigmator.view.EnigmatorView"
            id="fr.chatnoir.enigmator.view"
            name="Enigmator View"
            restorable="true">
      </view>
   </extension>

</plugin>
